@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.box-1 img{
width: 100%;
height: 100vh;
overflow: hidden;
}
.bg-anim{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.bg-image{
width: 100%;
min-height: 100vh;
}
.content-1{
width: 100%;
display: flex;

}
.intro{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    align-items: flex-start;
    padding: 30px;
    line-height: 3rem;
    
}
.intro > .text-1{
font-size: 1rem;
}
.intro > .text-3{
    display: inline-flex;
    font-size: 25px;
    /* background-color: red; */
}
.intro > .text-3 ul{
    height: 40px;
    padding-left: 7px;
    overflow: hidden;
    /* background-color: blue; */
}

.intro > .text-3 ul li{
    top: 0;
    left: 0;
    position: relative;
    animation: slide-animation 4.8s steps(3) infinite;
}

@keyframes slide-animation{
    100%{
        top: -145px;
    }
}
.intro > .text-3 ul li span{
    position: relative;
    height: 100%;
}
.intro > .text-3 ul li span::after{
    content: "";
    height: 40px;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: white ;
    border-left: 2px solid rgb(235, 114, 1);
    animation: text-animation 1.6s steps(10) infinite;
    
}

@keyframes text-animation{
    100%{
        left: 100%;
        margin:  0 -17px 0 17px;
    }
}

.intro > .text-2{
    font-size: 3rem;
    }
.text-design{
    color: rgb(235, 114, 1);;
    position: relative  ;
}
.text-design::after{
    height: 100px;
    width: 5px;
    color: rgb(235, 114, 1);
    position: absolute;
}
/* face */
.face{
    position: relative;
    background-color: yellow;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.face::before{
    position: absolute;
    content: "";
    background-color: rgb(240, 148, 10);
    width: 150px;
    height: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    top: 180px;
    transition: 0.5s;
}
.face:hover::before{
    top:210px;
    width: 150px;
    height: 20px;
    content: "";
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.face .eyes{
    position: relative;
    top: -40px;
    display:flex;
}

.face .eyes .eye{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 15px;
    border-radius: 50%;
}

.face .eyes .eye::before{
    position: absolute;
    left: 25px;
    content: "";
    top: 50%;
    background-color: rgb(8, 3, 3);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* objective pages */
.career-objective{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.career-objective > .title{
    width: 90%;
    font-size: 20px;
    font-weight: 500;
    padding: 50px;
}
.career-objective > .description{
    width: 80%;
    height: 40px;
}


.content-2{ 
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 1rem;
    max-width: 100%;
    min-height: 100vh;
}
.box-1{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: whi;
    box-shadow: 0 0 3px gray;
    background: white;
    width: 300px;
    height: 300px;
    
}
.box-1:hover{
    display: flex;
    align-items: center;
    box-shadow:  0px 0px 5px #3b3a3a
}
.box-1:hover img{
    color:white;
}

.box-1 img{
    width: 100%;
    height: 50%;
    top: 0; 
    background-color: gray;
/* margin: 30px; */
}

.box-1 p{
    bottom: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.services, .skills{
    font-family: 'ubuntu', sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.skill-info{
    width: 600px;
}
.content-3{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.info{
    display: flex;
    padding: 1rem;
    width: 100%;
    border: 1 solid black;
    justify-content: space-between;
    align-items: baseline;
}



.info span{
    display: flex;
    align-items: center;
    width: 130px;
    margin: 10px;
}
.progress{
    background-color: rgb(182, 171, 171);
    margin: 1rem;
    height: 2px;
    position: relative;
    overflow: hidden;
    width: 90%;
}
.progress-in{
    position: absolute;
    background-color: rgb(223, 90, 90);
    width: 100%;
    height: 3px;
    z-index: 5;
}



