@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


:root{
    
    --primary-color: rgb(29, 28, 28);
    --second-color: rgb(61, 59, 59);
    --third-color: rgb(207, 198, 198);
    --fourth-color:rgb(241, 234, 234);
    --color1: rgb(235, 52, 19);
    }

.footer{
    display: flex;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background-color: var(--color1);
}
.footer .fab{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: var(--color1);
}
.footer .far{
    background-color: var(--color1);
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    padding:10px;
}
.footer .fas{
    background-color: var(--color1);
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px 20px 10px 20px;

}
.footer i{
    background-color: var(--color1);
    
}
footer i span{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    
}