
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
:root{
--primary-color: rgb(235, 37, 2);
}
*{
box-sizing: border-box;
list-style: none;
text-decoration: none;
padding: 0;
margin : 0;
}
.logo{
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  text-shadow: 0 0 5px black;
}

.nav-bar{
background-color: rgb(235, 37, 2);
display: inline-flex;
justify-content:space-around;
align-items: center;
width: 100%;
}
.nav-bar .right-nav-bar{
  display: flex;
}
.nav-bar .right-nav-bar .nav-bar-link{
  padding: 15px;
}
.nav-bar .right-nav-bar .nav-bar-link li{
  padding: 5px;
  border-radius: 10%;
}
.nav-bar .right-nav-bar .nav-bar-link li a{
  color: black;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 5px;
  
}
.nav-bar .right-nav-bar .nav-bar-link li:hover{
  color: aliceblue;
  cursor: pointer;
  background: rgb(207, 38, 8);
}
.nav-bar .right-nav-bar .nav-bar-link li:hover a{
  color: aliceblue;
  cursor: pointer;
  background: rgb(207, 38, 8);
}

@media(max-width: 855px){
  .nav-bar .right-nav-bar .nav-bar-link. li{
    display: none;
  }
}



